body {
    margin: 0;
    padding: 0;
    background-color: #D6BCFF;
}

.head {
    margin-top: 60px;
}

h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: 0.625em;
    color: #6F3CFF;
    text-align: center;
    margin: auto;
}

.container {
    width: 818px;
    height: 424px;
    margin: 0 auto;
    margin-top: 64px;
    display: flex;
    background: #FFFFFF;
    box-shadow: -1px 6px 55px rgba(0, 0, 0, 0.16);
    border-radius: 21px;
}

.left-container {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-left: 41px;
    width: 400px;
}

.bill {
    display: flex;
    flex-direction: column;
}

.bill label {
    width: 37px;
    font-family: 'Inconsolata';
    font-style: normal;
    margin-bottom: 11px;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.045em;
    color: #9C60FF;
}

.bill input {
    color: #9C60FF;
    width: 327px;
    height: 43px;
    background: rgba(182, 172, 196, 0.53);
    border-radius: 3px;
    border: none;
    font-size: 21px;
    text-align: right;
    padding-right: 15px;
    font-family: monospace;
}

.bill input:focus {
    outline: none;
    box-shadow: 2px 2px;
}

.bill i {
    position: relative;
    bottom: 30px;
    left: 15px;
    width: 20px;
    height: 18px;
    color: #9C60FF;
}

.tip-button {
    width: 106px;
    height: 44px;
    background: #9C60FF;
    color: white;
    border-radius: 4px;
    margin: 4px;
    margin-top: 10px;
    font-size: 21px;
    font-family: monospace;
    border: none;
    cursor: pointer;
}

.tip-button-active {
    opacity: 60%;
    transition: 0.6s;
}

.select-tip {
    margin-top: 30px;
}

.select-tip label {
    margin-left: 5px;
    width: 98px;
    height: 16px;
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.045em;
    color: #9C60FF;
}
/*no. of people */

.num-people {
    margin-top: 35px;
}

.num-people label {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    color: #9C60FF
}

.num-div {
    width: 347px;
    height: 43px;
    background: rgba(182, 172, 196, 0.53);
    border-radius: 3px;
}

.num-div div {
    display: flex;
    justify-content: right;
}

.btn {
    width: 35px;
    height: 43px;
    background: #FFFFFF;
    border: 1px solid #8E8E8E;
    border-radius: 3px;
    font-size: 21px;
    cursor: pointer;
}

.add-people {
    border-radius: 3px 0px 0 3px;
    border-right: none;
}

.remove-people {
    border-radius: 0px 3px 3px 0px;
    border-left: none;
}

.people {
    width: 30px;
    height: 31px;
    padding-top: 10px;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: monospace;
    font-size: 21px;
    color: #9C60FF;
    background: #FFFFFF;
    border: 1px solid #8E8E8E;
}

.num-div i {
    position: relative;
    bottom: 30px;
    left: 20px;
    color: #7B7B7B;
}

.right-container {
    width: 367px;
    height: 370px;
    background: #9C60FF;
    border-radius: 11px;
    margin: 28px;
}

.right-div {
    margin: 36px;
}

.right-div div {
    display: flex;
}

.right-div label {
    width: 97px;
    font-family: 'Inconsolata';
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.045em;
    color: #F3E4FF;
}

.right-div label p {
    position: relative;
    bottom: 10px;
    font-size: 13px;
    color: #C39FFF
}

.label1 {
    margin-top: 10px;
}

.label2 {
    padding-top: 7px;
}

.label2,
.total {
    margin-top: 57px;
}

.tip-amount,
.total {
    margin-left: 120px;
    position: absolute;
    height: 38px;
    font-family: 'Inconsolata';
    font-weight: 600;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 0.01em;
    color: #C39FFF;
    text-align: left;
}

.generate {
    margin-top: 85px;
    width: 295px;
    height: 43px;
    background: #C39FFF;
    border-radius: 5px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.19em;
    color: #9C60FF;
    border: none;
    cursor: pointer;
}